@model IEnumerable<Hotel>

@if (Model != null) { 
    <section>
        <h2 class="fs-4">Hotels guests love</h2>
        <div class="d-flex flex-column flex-md-row justify-content-around flex-wrap gap-4">
            @foreach(var hotel in Model)
            {
                <article  style="flex: 1">
                    <a asp-controller="Hotels" asp-action="ViewHotel" asp-route-id="@hotel.Hotel_id" class="text-decoration-none hotelCardLink"><img src="@hotel.Photo1?s=400x" alt="hotel image" class="w-100 object-fit-cover rounded-1" style="height: 200px" /></a>
                    <a asp-controller="Hotels" asp-action="ViewHotel" asp-route-id="@hotel.Hotel_id" class="text-decoration-none hotelCardLink text-dark fs-6 fw-semibold"><p class="mb-0">@hotel.Hotel_name</p></a>
                    <a asp-controller="Hotels" asp-action="ViewHotel" asp-route-id="@hotel.Hotel_id" class="text-decoration-none hotelCardLink text-secondary "><span class="mb-0">@hotel.City, @hotel.Country</span></a>
                </article>
            }
        </div>
    </section>
}