@model IEnumerable<Hotel>

@if (Model != null)
{
    <div>
        <h2 class="fs-4">Get the latest deals</h2>
        <div class="d-flex flex-column flex-md-row justify-content-around flex-wrap gap-4">
            @foreach (var hotel in Model)
            {
                <div style="flex: 1">

                    <div class="position-relative">
                        <a asp-controller="Hotels" asp-action="ViewHotel" asp-route-id="@hotel.Hotel_id" class="text-decoration-none hotelCardLink"><img src="@hotel.Photo1?s=400x" alt="hotel image" class="w-100 object-fit-cover rounded-1" style="height: 200px" /></a>
                        <div class="text-light bg-dark rounded-1 position-absolute bottom-0 end-0 p-1 fs-5 fw-semibold">From $@hotel.Rates_from</div>
                    </div>
                    <a asp-controller="Hotels" asp-action="ViewHotel" asp-route-id="@hotel.Hotel_id" class="text-decoration-none hotelCardLink text-dark fs-6 fw-semibold"><p class="mb-0">@hotel.Hotel_name</p></a>
                    <a asp-controller="Hotels" asp-action="ViewHotel" asp-route-id="@hotel.Hotel_id" class="text-decoration-none hotelCardLink text-secondary "><span class="mb-0">@hotel.City, @hotel.Country</span></a>
                </div>
            }
        </div>
    </div>
}